<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JackShaft_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <JackShaft_App.Properties.Settings>
            <setting name="Aplication_ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="Images_store_path" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString_LN_Linker" serializeAs="String">
                <value />
            </setting>
            <setting name="Current_Station" serializeAs="String">
                <value />
            </setting>
            <setting name="OMS_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Report_File_Dir" serializeAs="String">
                <value />
            </setting>
            <setting name="QA_File_Dir" serializeAs="String">
                <value />
            </setting>
            <setting name="BarTenderDir_Report" serializeAs="String">
                <value />
            </setting>
            <setting name="BarTenderDir_QA" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer_Lable" serializeAs="String">
                <value />
            </setting>
            <setting name="XML_Template" serializeAs="String">
                <value />
            </setting>
            <setting name="New_XML_Destination" serializeAs="String">
                <value />
            </setting>
            <setting name="Worker_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Print_Blank" serializeAs="String">
                <value />
            </setting>
            <setting name="Print_Items_In_Blank" serializeAs="String">
                <value />
            </setting>
            <setting name="ConformationCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Enter_Value_After_Proccess" serializeAs="String">
                <value />
            </setting>
            <setting name="Enter_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="ID_Worker_QA" serializeAs="String">
                <value />
            </setting>
            <setting name="RACK_NUMBER" serializeAs="String">
                <value />
            </setting>
            <setting name="ID_Worker" serializeAs="String">
                <value />
            </setting>
            <setting name="Worker_Name_QA" serializeAs="String">
                <value />
            </setting>
        </JackShaft_App.Properties.Settings>
    </userSettings>
</configuration>